.message {
    text-align: left;
    padding: 10px;
    background: #eddede;
    width: fit-content;
    margin: 36px;
    border-radius: 7px;
}

.message_user {
    background:blue !important;
    color: aliceblue;
    float: right;
}