form.from_input {position: fixed;bottom: 0;left: 0;right: 0;}

form.from_input input {width: 74%;padding: 7px 14px;background: #e6e6e6;margin: 0px 103px;border: navajowhite;border-radius: 5px;}

header.App-header h1 {text-align: center;font-size: 20px;font-weight: 800;text-transform: uppercase;color:#fff}

header.App-header h2 {text-align: center;text-transform: uppercase;margin-bottom: 17px;color:#fff}

body{
    background-color: #282C34;
}

button.btn.btn-primary {
    margin-left: -110px;
    padding: 9px 24px;
    position:absolute;
}